.category-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;

  .category-header {
    margin-bottom: 10px;
  }
}

.category-select {
  display: flex;
}

.shop-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  overflow: hidden;
  width: 80%;
  grid-gap: 30px;
  margin: auto;
  height: auto;
  padding: 50px 0;
}

.display-items {
  border-bottom: 1px solid rgb(138, 134, 134);
  padding-bottom: 3px;
}

@media (min-width: 800px) {
  .shop-item-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
