.group {
  position: relative;

  .input {
    width: 100%;
    display: block;
    padding: 10px 10px 10px 5px;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(212, 209, 209);
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      top: -14px;
      font-size: 12px;
      color: rgb(175, 172, 172);
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: rgb(129, 123, 123);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      top: -14px;
      font-size: 12px;
      color: rgb(119, 116, 116);
    }
  }
}
